USE [master]
GO
/****** Object:  Database [CafeEmprestimos]    Script Date: 26/02/2026 12:19:22 ******/
CREATE DATABASE [CafeEmprestimos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeEmprestimos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CafeEmprestimos.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeEmprestimos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CafeEmprestimos_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeEmprestimos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeEmprestimos]
GO
/****** Object:  Table [dbo].[Emprestimos_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimos_Dinheiro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[data] [date] NOT NULL,
	[vencimento] [date] NULL,
	[descricao] [nvarchar](500) NULL,
	[capital] [decimal](14, 2) NOT NULL,
	[juros_pct] [decimal](5, 2) NOT NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[atualizado_em] [datetime2](7) NOT NULL,
	[situacao] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamentos_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamentos_Dinheiro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emprestimo_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[data] [date] NOT NULL,
	[descricao] [nvarchar](500) NULL,
	[valor] [decimal](14, 2) NOT NULL,
	[criado_em] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cliente_id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](150) NOT NULL,
	[documento] [varchar](20) NULL,
	[telefone] [varchar](20) NULL,
	[email] [nvarchar](200) NULL,
	[endereco] [nvarchar](300) NULL,
	[ativo] [bit] NOT NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[atualizado_em] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Resumo_Dinheiro_Cliente]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Resumo_Dinheiro_Cliente] AS
WITH base AS (
    SELECT
        e.cliente_id,
        e.id                                                AS emp_id,
        e.capital,
        e.juros_pct,
        e.vencimento,
        CASE WHEN e.juros_pct = 0 THEN e.capital
             ELSE ROUND(e.capital * (1 + e.juros_pct / 100.0), 2)
        END                                                 AS total_com_juros,
        CASE WHEN e.juros_pct = 0 THEN 0
             ELSE ROUND(e.capital * (e.juros_pct / 100.0), 2)
        END                                                 AS juros_reais,
        ISNULL((
            SELECT SUM(p.valor)
            FROM dbo.Pagamentos_Dinheiro p
            WHERE p.emprestimo_id = e.id
        ), 0)                                               AS total_pago
    FROM dbo.Emprestimos_Dinheiro e
),
calc AS (
    SELECT
        b.cliente_id,
        b.emp_id,
        b.capital,
        b.juros_pct,
        b.vencimento,
        b.total_com_juros,
        b.juros_reais,
        b.total_pago,
        b.total_com_juros - b.total_pago                   AS saldo,
        -- Está vencido e ainda em aberto?
        CASE
            WHEN b.vencimento IS NOT NULL
                 AND b.vencimento < CAST(SYSDATETIME() AS DATE)
                 AND (b.total_com_juros - b.total_pago) > 0
            THEN 1 ELSE 0
        END                                                 AS vencido_aberto,
        -- Está em aberto?
        CASE WHEN (b.total_com_juros - b.total_pago) > 0 THEN 1 ELSE 0 END
                                                            AS em_aberto
    FROM base b
)
SELECT
    c.cliente_id,
    c.nome,
    COUNT(DISTINCT calc.emp_id)                             AS total_emprestimos,
    ISNULL(SUM(calc.capital), 0)                            AS total_capital,
    ISNULL(SUM(calc.total_com_juros), 0)                    AS total_com_juros,
    ISNULL(SUM(calc.juros_reais), 0)                        AS total_juros,
    ISNULL(SUM(calc.total_pago), 0)                         AS total_pago,
    CAST(ISNULL(MAX(calc.vencido_aberto), 0) AS BIT)        AS tem_vencido,
    ISNULL(SUM(calc.em_aberto), 0)                          AS emprestimos_abertos
FROM dbo.Clientes c
LEFT JOIN calc ON calc.cliente_id = c.cliente_id
GROUP BY c.cliente_id, c.nome;
GO
/****** Object:  View [dbo].[vw_Emprestimos_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Emprestimos_Dinheiro] AS
SELECT
    e.id,
    e.cliente_id,
    c.nome                                      AS cliente_nome,
    e.data,
    e.vencimento,
    e.descricao,
    e.capital,
    e.juros_pct,
    e.situacao,
    e.criado_em,
    e.atualizado_em,

    -- Total já pago
    ISNULL((
        SELECT SUM(p.valor)
        FROM dbo.Pagamentos_Dinheiro p
        WHERE p.emprestimo_id = e.id
    ), 0)                                       AS total_pago,

    -- Quantidade de pagamentos
    ISNULL((
        SELECT COUNT(*)
        FROM dbo.Pagamentos_Dinheiro p
        WHERE p.emprestimo_id = e.id
    ), 0)                                       AS qtd_pagamentos,

    -- Situação: Q=Quitado (manual) tem prioridade;
    --           senão vencimento determina VENCIDO/VENCE_EM_BREVE; senão ABERTO
    CASE
        WHEN e.situacao = 'Q' THEN 'QUITADO'
        WHEN e.vencimento IS NOT NULL
             AND e.vencimento < CAST(SYSDATETIME() AS DATE) THEN 'VENCIDO'
        WHEN e.vencimento IS NOT NULL
             AND e.vencimento <= DATEADD(DAY, 7, CAST(SYSDATETIME() AS DATE)) THEN 'VENCE_EM_BREVE'
        ELSE 'ABERTO'
    END                                         AS situacao_label,

    -- Dias de atraso
    CASE
        WHEN e.situacao = 'A'
             AND e.vencimento IS NOT NULL
             AND e.vencimento < CAST(SYSDATETIME() AS DATE)
        THEN DATEDIFF(DAY, e.vencimento, CAST(SYSDATETIME() AS DATE))
        ELSE NULL
    END                                         AS dias_atraso

FROM dbo.Emprestimos_Dinheiro e
JOIN dbo.Clientes              c ON c.cliente_id = e.cliente_id;
GO
/****** Object:  Table [dbo].[Movimentos]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentos](
	[movimento_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[tipo] [char](1) NOT NULL,
	[data_movimento] [date] NOT NULL,
	[sacas] [int] NOT NULL,
	[kg_avulso] [int] NOT NULL,
	[juros_pct] [decimal](5, 2) NULL,
	[observacao] [nvarchar](500) NULL,
	[criado_em] [datetime2](7) NOT NULL,
	[atualizado_em] [datetime2](7) NOT NULL,
	[data_vencimento] [date] NULL,
	[total_kg]  AS ([sacas]*(60)+[kg_avulso]),
	[total_kg_com_juros]  AS (case when [juros_pct] IS NULL OR [juros_pct]=(0) then [sacas]*(60)+[kg_avulso] else CONVERT([int],([sacas]*(60)+[kg_avulso])*((1)+[juros_pct]/(100.0))) end),
PRIMARY KEY CLUSTERED 
(
	[movimento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SaldoProgressivo]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SaldoProgressivo] AS
SELECT
    m.movimento_id, m.cliente_id,
    c.nome AS cliente_nome,
    m.tipo,
    CASE m.tipo WHEN 'D' THEN 'Débito' ELSE 'Crédito' END AS tipo_descricao,
    m.data_movimento, m.data_vencimento,
    CASE
        WHEN m.tipo = 'D' AND m.data_vencimento IS NOT NULL AND m.data_vencimento < CAST(SYSDATETIME() AS DATE) THEN 'VENCIDO'
        WHEN m.tipo = 'D' AND m.data_vencimento IS NOT NULL AND m.data_vencimento <= DATEADD(DAY, 7, CAST(SYSDATETIME() AS DATE)) THEN 'VENCE_EM_BREVE'
        WHEN m.tipo = 'D' AND m.data_vencimento IS NOT NULL THEN 'NO_PRAZO'
        ELSE NULL
    END AS status_vencimento,
    CASE WHEN m.tipo = 'D' AND m.data_vencimento IS NOT NULL THEN DATEDIFF(DAY, m.data_vencimento, CAST(SYSDATETIME() AS DATE)) ELSE NULL END AS dias_vencimento,
    m.sacas, m.kg_avulso, m.total_kg, m.juros_pct, m.total_kg_com_juros, m.observacao, m.criado_em, m.atualizado_em,
    m.total_kg_com_juros - m.total_kg        AS juros_kg,
    (m.total_kg_com_juros - m.total_kg) / 60 AS juros_sacas,
    (m.total_kg_com_juros - m.total_kg) % 60 AS juros_kg_resto,
    m.total_kg_com_juros / 60                AS total_sacas_com_juros,
    m.total_kg_com_juros % 60                AS total_kg_resto,
    SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)
        OVER (PARTITION BY m.cliente_id ORDER BY m.data_movimento, m.movimento_id
              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS saldo_kg_acumulado,
    ABS(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)
        OVER (PARTITION BY m.cliente_id ORDER BY m.data_movimento, m.movimento_id
              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) / 60 AS saldo_sacas_acumulado,
    ABS(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)
        OVER (PARTITION BY m.cliente_id ORDER BY m.data_movimento, m.movimento_id
              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) % 60 AS saldo_kg_resto,
    SIGN(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)
        OVER (PARTITION BY m.cliente_id ORDER BY m.data_movimento, m.movimento_id
              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) AS saldo_sinal,
    SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)
        OVER (PARTITION BY m.cliente_id) AS saldo_kg_total
FROM dbo.Movimentos m
JOIN dbo.Clientes c ON c.cliente_id = m.cliente_id;
GO
/****** Object:  View [dbo].[vw_SaldoClientes]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SaldoClientes] AS
SELECT
    c.cliente_id, c.nome, c.documento, c.telefone, c.email, c.ativo, c.endereco,
    COUNT(m.movimento_id) AS total_movimentos,
    SUM(CASE m.tipo WHEN 'D' THEN m.total_kg_com_juros ELSE 0 END) AS total_emprestado_kg,
    SUM(CASE m.tipo WHEN 'C' THEN m.total_kg           ELSE 0 END) AS total_devolvido_kg,
    ISNULL(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros), 0) AS saldo_devedor_kg,
    ISNULL(ABS(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)) / 60, 0) AS saldo_devedor_sacas,
    ISNULL(ABS(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros)) % 60, 0) AS saldo_devedor_kg_resto,
    MAX(m.data_movimento) AS ultimo_movimento,
    CASE
        WHEN ISNULL(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros), 0) > 0 THEN 'DEVENDO'
        WHEN ISNULL(SUM(CASE m.tipo WHEN 'D' THEN 1 ELSE -1 END * m.total_kg_com_juros), 0) < 0 THEN 'CRÉDITO'
        ELSE 'QUITADO'
    END AS situacao
FROM dbo.Clientes c
LEFT JOIN dbo.Movimentos m ON m.cliente_id = c.cliente_id
GROUP BY c.cliente_id, c.nome, c.documento, c.telefone, c.email, c.ativo, c.endereco;
GO
/****** Object:  Table [dbo].[Historico_Movimentos]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico_Movimentos](
	[historico_id] [int] IDENTITY(1,1) NOT NULL,
	[movimento_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[campo_alterado] [nvarchar](50) NOT NULL,
	[valor_antes] [nvarchar](500) NULL,
	[valor_depois] [nvarchar](500) NULL,
	[alterado_em] [datetime2](7) NOT NULL,
	[alterado_por] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[historico_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Clientes_Documento]    Script Date: 26/02/2026 12:19:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Clientes_Documento] ON [dbo].[Clientes]
(
	[documento] ASC
)
WHERE ([documento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpDin_Cliente]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_EmpDin_Cliente] ON [dbo].[Emprestimos_Dinheiro]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpDin_Data]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_EmpDin_Data] ON [dbo].[Emprestimos_Dinheiro]
(
	[data] DESC,
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmpDin_Situacao]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_EmpDin_Situacao] ON [dbo].[Emprestimos_Dinheiro]
(
	[situacao] ASC,
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpDin_Venc]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_EmpDin_Venc] ON [dbo].[Emprestimos_Dinheiro]
(
	[vencimento] ASC
)
WHERE ([vencimento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hist_Mov_Id]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_Hist_Mov_Id] ON [dbo].[Historico_Movimentos]
(
	[movimento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mov_Cliente]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_Mov_Cliente] ON [dbo].[Movimentos]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mov_DataCliente]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_Mov_DataCliente] ON [dbo].[Movimentos]
(
	[data_movimento] ASC,
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimentos_Cliente_Data]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_Movimentos_Cliente_Data] ON [dbo].[Movimentos]
(
	[cliente_id] ASC,
	[data_movimento] ASC,
	[movimento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Movimentos_Tipo_Data]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_Movimentos_Tipo_Data] ON [dbo].[Movimentos]
(
	[tipo] ASC,
	[data_movimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagDin_Cliente]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_PagDin_Cliente] ON [dbo].[Pagamentos_Dinheiro]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagDin_Emp]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_PagDin_Emp] ON [dbo].[Pagamentos_Dinheiro]
(
	[emprestimo_id] ASC
)
INCLUDE([valor],[data]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PagDin_Emprestimo]    Script Date: 26/02/2026 12:19:23 ******/
CREATE NONCLUSTERED INDEX [IX_PagDin_Emprestimo] ON [dbo].[Pagamentos_Dinheiro]
(
	[emprestimo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (sysdatetime()) FOR [criado_em]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (sysdatetime()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [data]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] ADD  DEFAULT ((0)) FOR [juros_pct]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] ADD  DEFAULT (sysdatetime()) FOR [criado_em]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] ADD  DEFAULT (sysdatetime()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] ADD  DEFAULT ('A') FOR [situacao]
GO
ALTER TABLE [dbo].[Historico_Movimentos] ADD  DEFAULT (sysdatetime()) FOR [alterado_em]
GO
ALTER TABLE [dbo].[Historico_Movimentos] ADD  DEFAULT ('sistema') FOR [alterado_por]
GO
ALTER TABLE [dbo].[Movimentos] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [data_movimento]
GO
ALTER TABLE [dbo].[Movimentos] ADD  DEFAULT ((0)) FOR [juros_pct]
GO
ALTER TABLE [dbo].[Movimentos] ADD  DEFAULT (sysdatetime()) FOR [criado_em]
GO
ALTER TABLE [dbo].[Movimentos] ADD  DEFAULT (sysdatetime()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [data]
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro] ADD  DEFAULT (sysdatetime()) FOR [criado_em]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [FK_EmpDin_Cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] CHECK CONSTRAINT [FK_EmpDin_Cliente]
GO
ALTER TABLE [dbo].[Historico_Movimentos]  WITH CHECK ADD  CONSTRAINT [FK_Hist_Mov] FOREIGN KEY([movimento_id])
REFERENCES [dbo].[Movimentos] ([movimento_id])
GO
ALTER TABLE [dbo].[Historico_Movimentos] CHECK CONSTRAINT [FK_Hist_Mov]
GO
ALTER TABLE [dbo].[Movimentos]  WITH CHECK ADD  CONSTRAINT [FK_Movimentos_Clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[Movimentos] CHECK CONSTRAINT [FK_Movimentos_Clientes]
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [FK_PagDin_Cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro] CHECK CONSTRAINT [FK_PagDin_Cliente]
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [FK_PagDin_Emprestimo] FOREIGN KEY([emprestimo_id])
REFERENCES [dbo].[Emprestimos_Dinheiro] ([id])
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro] CHECK CONSTRAINT [FK_PagDin_Emprestimo]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [CK_EmpDin_Capital] CHECK  (([capital]>(0)))
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] CHECK CONSTRAINT [CK_EmpDin_Capital]
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [CK_EmpDin_Situacao] CHECK  (([situacao]='Q' OR [situacao]='A'))
GO
ALTER TABLE [dbo].[Emprestimos_Dinheiro] CHECK CONSTRAINT [CK_EmpDin_Situacao]
GO
ALTER TABLE [dbo].[Movimentos]  WITH CHECK ADD  CONSTRAINT [CK_Movimentos_JurosPct] CHECK  (([juros_pct] IS NULL OR [juros_pct]>=(0)))
GO
ALTER TABLE [dbo].[Movimentos] CHECK CONSTRAINT [CK_Movimentos_JurosPct]
GO
ALTER TABLE [dbo].[Movimentos]  WITH CHECK ADD  CONSTRAINT [CK_Movimentos_Tipo] CHECK  (([tipo]='C' OR [tipo]='D'))
GO
ALTER TABLE [dbo].[Movimentos] CHECK CONSTRAINT [CK_Movimentos_Tipo]
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro]  WITH CHECK ADD  CONSTRAINT [CK_PagDin_Valor] CHECK  (([valor]>(0)))
GO
ALTER TABLE [dbo].[Pagamentos_Dinheiro] CHECK CONSTRAINT [CK_PagDin_Valor]
GO
/****** Object:  StoredProcedure [dbo].[sp_AlterarSituacao_Emprestimo]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AlterarSituacao_Emprestimo]
    @id       INT,
    @situacao CHAR(1)   -- 'A' = Aberto  |  'Q' = Quitado
AS
BEGIN
    SET NOCOUNT ON;
    IF @situacao NOT IN ('A','Q')
        THROW 50001, 'Situação inválida. Use A (Aberto) ou Q (Quitado).', 1;
    IF NOT EXISTS (SELECT 1 FROM dbo.Emprestimos_Dinheiro WHERE id = @id)
        THROW 50010, 'Empréstimo não encontrado.', 1;

    UPDATE dbo.Emprestimos_Dinheiro
    SET situacao = @situacao, atualizado_em = SYSDATETIME()
    WHERE id = @id;

    SELECT * FROM dbo.vw_Emprestimos_Dinheiro WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarMovimento]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AtualizarMovimento]
    @movimento_id    INT,
    @data_movimento  DATE,
    @sacas           DECIMAL(10,3),
    @kg_avulso       DECIMAL(10,3),
    @juros_pct       DECIMAL(5,2),
    @observacao      NVARCHAR(500) = NULL,
    @data_vencimento DATE          = NULL,
    @alterado_por    NVARCHAR(100) = 'sistema'
AS
BEGIN
    SET NOCOUNT ON;

    -- Busca valores atuais
    DECLARE
        @tipo            CHAR(1),
        @old_data        DATE,
        @old_sacas       DECIMAL(10,3),
        @old_kg          DECIMAL(10,3),
        @old_juros       DECIMAL(5,2),
        @old_obs         NVARCHAR(500),
        @old_vencimento  DATE,
        @cliente_id      INT;

    SELECT
        @tipo           = tipo,
        @old_data       = data_movimento,
        @old_sacas      = sacas,
        @old_kg         = kg_avulso,
        @old_juros      = juros_pct,
        @old_obs        = observacao,
        @old_vencimento = data_vencimento,
        @cliente_id     = cliente_id
    FROM dbo.Movimentos
    WHERE movimento_id = @movimento_id;

    IF @tipo IS NULL
        THROW 50020, 'Movimento não encontrado.', 1;

    IF @sacas <= 0 AND @kg_avulso <= 0
        THROW 50002, 'Informe sacas ou kg_avulso maiores que zero.', 1;

    -- ── Registra histórico apenas dos campos que mudaram ──
    IF @old_data <> @data_movimento OR (@old_data IS NULL AND @data_movimento IS NOT NULL)
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'data_movimento',
                CONVERT(NVARCHAR, @old_data, 103), CONVERT(NVARCHAR, @data_movimento, 103), @alterado_por);

    IF ISNULL(@old_sacas,0) <> ISNULL(@sacas,0)
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'sacas',
                CAST(@old_sacas AS NVARCHAR), CAST(@sacas AS NVARCHAR), @alterado_por);

    IF ISNULL(@old_kg,0) <> ISNULL(@kg_avulso,0)
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'kg_avulso',
                CAST(@old_kg AS NVARCHAR), CAST(@kg_avulso AS NVARCHAR), @alterado_por);

    IF ISNULL(@old_juros,0) <> ISNULL(@juros_pct,0)
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'juros_pct',
                CAST(@old_juros AS NVARCHAR), CAST(@juros_pct AS NVARCHAR), @alterado_por);

    IF ISNULL(@old_obs,'') <> ISNULL(@observacao,'')
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'observacao',
                @old_obs, @observacao, @alterado_por);

    IF ISNULL(CAST(@old_vencimento AS NVARCHAR),'') <> ISNULL(CAST(@data_vencimento AS NVARCHAR),'')
        INSERT INTO dbo.Historico_Movimentos (movimento_id, cliente_id, campo_alterado, valor_antes, valor_depois, alterado_por)
        VALUES (@movimento_id, @cliente_id, 'data_vencimento',
                CONVERT(NVARCHAR, @old_vencimento, 103), CONVERT(NVARCHAR, @data_vencimento, 103), @alterado_por);

    -- ── Aplica a atualização ──
    UPDATE dbo.Movimentos SET
        data_movimento  = @data_movimento,
        sacas           = @sacas,
        kg_avulso       = @kg_avulso,
        juros_pct       = CASE @tipo WHEN 'C' THEN NULL ELSE @juros_pct END,
        observacao      = @observacao,
        data_vencimento = CASE @tipo WHEN 'C' THEN NULL ELSE @data_vencimento END,
        atualizado_em   = SYSDATETIME()
    WHERE movimento_id = @movimento_id;

    SELECT TOP 1
        sp.movimento_id, sp.cliente_nome, sp.tipo, sp.tipo_descricao,
        sp.data_movimento, sp.data_vencimento, sp.status_vencimento, sp.dias_vencimento,
        sp.sacas, sp.kg_avulso, sp.total_kg,
        sp.juros_pct, sp.juros_sacas, sp.juros_kg_resto,
        sp.total_kg_com_juros, sp.total_sacas_com_juros, sp.total_kg_resto,
        sp.saldo_kg_acumulado, sp.saldo_sacas_acumulado, sp.saldo_kg_resto
    FROM dbo.vw_SaldoProgressivo sp
    WHERE sp.movimento_id = @movimento_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CriarEmprestimo_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ────────────────────────────────────────────────────────────────────
--  STORED PROCEDURES
-- ────────────────────────────────────────────────────────────────────

-- SP: Criar empréstimo
CREATE PROCEDURE [dbo].[sp_CriarEmprestimo_Dinheiro]
    @cliente_id  INT,
    @data        DATE          = NULL,
    @vencimento  DATE          = NULL,
    @descricao   NVARCHAR(500) = NULL,
    @capital     DECIMAL(14,2),
    @juros_pct   DECIMAL(5,2)  = 0
AS
BEGIN
    SET NOCOUNT ON;
    IF @capital <= 0 THROW 50001, 'Capital deve ser maior que zero.', 1;
    IF @juros_pct < 0 THROW 50002, 'Juros não pode ser negativo.', 1;

    INSERT INTO dbo.Emprestimos_Dinheiro (cliente_id, data, vencimento, descricao, capital, juros_pct)
    VALUES (@cliente_id, ISNULL(@data, CAST(SYSDATETIME() AS DATE)), @vencimento, @descricao, @capital, ISNULL(@juros_pct, 0));

    SELECT * FROM dbo.vw_Emprestimos_Dinheiro WHERE id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarEmprestimo_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EditarEmprestimo_Dinheiro]
    @id          INT,
    @data        DATE,
    @vencimento  DATE          = NULL,
    @descricao   NVARCHAR(500) = NULL,
    @capital     DECIMAL(14,2),
    @juros_pct   DECIMAL(5,2)  = 0,
    @situacao    CHAR(1)       = 'A'
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM dbo.Emprestimos_Dinheiro WHERE id = @id)
        THROW 50010, 'Empréstimo não encontrado.', 1;
    IF @capital <= 0 THROW 50001, 'Capital deve ser maior que zero.', 1;

    UPDATE dbo.Emprestimos_Dinheiro SET
        data          = @data,
        vencimento    = @vencimento,
        descricao     = @descricao,
        capital       = @capital,
        juros_pct     = ISNULL(@juros_pct, 0),
        situacao      = ISNULL(@situacao, 'A'),
        atualizado_em = SYSDATETIME()
    WHERE id = @id;

    SELECT * FROM dbo.vw_Emprestimos_Dinheiro WHERE id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirEmprestimo_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Excluir empréstimo (só se não tiver pagamentos)
CREATE PROCEDURE [dbo].[sp_ExcluirEmprestimo_Dinheiro]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM dbo.Pagamentos_Dinheiro WHERE emprestimo_id = @id)
        THROW 50020, 'Não é possível excluir: empréstimo possui pagamentos vinculados.', 1;
    DELETE FROM dbo.Emprestimos_Dinheiro WHERE id = @id;
    SELECT @id AS id, 'Excluído com sucesso.' AS mensagem;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirMovimento]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ExcluirMovimento]
    @movimento_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @cliente_id    INT,
        @data_movimento DATE,
        @tipo          CHAR(1);

    SELECT
        @cliente_id    = cliente_id,
        @data_movimento = data_movimento,
        @tipo          = tipo
    FROM dbo.Movimentos
    WHERE movimento_id = @movimento_id;

    IF @cliente_id IS NULL
        THROW 50010, 'Movimento não encontrado.', 1;

    -- Bloqueia exclusão se há movimentos posteriores do mesmo cliente
    -- (o saldo seria corrompido silenciosamente)
    IF EXISTS (
        SELECT 1 FROM dbo.Movimentos
        WHERE cliente_id    = @cliente_id
          AND (data_movimento > @data_movimento
               OR (data_movimento = @data_movimento
                   AND movimento_id > @movimento_id))
    )
        THROW 50011,
            'Existem movimentos posteriores para este cliente. Exclua na ordem inversa ou faça um movimento de correção.',
            1;

    DELETE FROM dbo.Movimentos WHERE movimento_id = @movimento_id;

    SELECT @movimento_id AS movimento_id, 'Excluído com sucesso.' AS mensagem;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirPagamento_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Excluir pagamento
CREATE PROCEDURE [dbo].[sp_ExcluirPagamento_Dinheiro]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @emp_id INT;
    SELECT @emp_id = emprestimo_id FROM dbo.Pagamentos_Dinheiro WHERE id = @id;
    IF @emp_id IS NULL THROW 50010, 'Pagamento não encontrado.', 1;
    DELETE FROM dbo.Pagamentos_Dinheiro WHERE id = @id;
    SELECT * FROM dbo.vw_Emprestimos_Dinheiro WHERE id = @emp_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HistoricoMovimento]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_HistoricoMovimento]
    @movimento_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        h.historico_id,
        h.campo_alterado,
        h.valor_antes,
        h.valor_depois,
        h.alterado_em,
        h.alterado_por
    FROM dbo.Historico_Movimentos h
    WHERE h.movimento_id = @movimento_id
    ORDER BY h.alterado_em DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMovimentos]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarMovimentos]
    @cliente_id        INT          = NULL,
    @tipo              CHAR(1)      = NULL,
    @data_inicio       DATE         = NULL,
    @data_fim          DATE         = NULL,
    @apenas_vencidos   BIT          = 0,
    @pagina            INT          = 1,
    @por_pagina        INT          = 20,
    @ordem             NVARCHAR(50) = 'data_movimento ASC'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @offset INT = (@pagina - 1) * @por_pagina;

    -- Total
    SELECT COUNT(*) AS total_registros
    FROM dbo.vw_SaldoProgressivo sp
    WHERE (@cliente_id      IS NULL OR sp.cliente_id    = @cliente_id)
      AND (@tipo            IS NULL OR sp.tipo          = @tipo)
      AND (@data_inicio     IS NULL OR sp.data_movimento >= @data_inicio)
      AND (@data_fim        IS NULL OR sp.data_movimento <= @data_fim)
      AND (@apenas_vencidos = 0     OR sp.status_vencimento = 'VENCIDO');

    -- Dados
    SELECT
        sp.movimento_id, sp.cliente_id, sp.cliente_nome,
        sp.tipo, sp.tipo_descricao,
        sp.data_movimento, sp.data_vencimento,
        sp.status_vencimento, sp.dias_vencimento,
        sp.sacas, sp.kg_avulso, sp.total_kg,
        sp.juros_pct, sp.juros_sacas, sp.juros_kg_resto,
        sp.total_kg_com_juros, sp.total_sacas_com_juros, sp.total_kg_resto,
        sp.saldo_kg_acumulado, sp.saldo_sacas_acumulado, sp.saldo_kg_resto,
        sp.saldo_sinal, sp.observacao, sp.criado_em, sp.atualizado_em,
        -- qtde de edições do movimento
        (SELECT COUNT(*) FROM dbo.Historico_Movimentos h WHERE h.movimento_id = sp.movimento_id)
            AS total_edicoes
    FROM dbo.vw_SaldoProgressivo sp
    WHERE (@cliente_id      IS NULL OR sp.cliente_id    = @cliente_id)
      AND (@tipo            IS NULL OR sp.tipo          = @tipo)
      AND (@data_inicio     IS NULL OR sp.data_movimento >= @data_inicio)
      AND (@data_fim        IS NULL OR sp.data_movimento <= @data_fim)
      AND (@apenas_vencidos = 0     OR sp.status_vencimento = 'VENCIDO')
    ORDER BY sp.data_movimento ASC, sp.movimento_id ASC
    OFFSET @offset ROWS FETCH NEXT @por_pagina ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarMovimento]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarMovimento]
    @cliente_id      INT,
    @tipo            CHAR(1),
    @data_movimento  DATE          = NULL,
    @sacas           DECIMAL(10,3) = 0,
    @kg_avulso       DECIMAL(10,3) = 0,
    @juros_pct       DECIMAL(5,2)  = 0,
    @observacao      NVARCHAR(500) = NULL,
    @data_vencimento DATE          = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @tipo NOT IN ('D','C')
        THROW 50001, 'Tipo inválido. Use D (Débito) ou C (Crédito).', 1;

    IF @sacas <= 0 AND @kg_avulso <= 0
        THROW 50002, 'Informe sacas ou kg_avulso maiores que zero.', 1;

    IF @tipo = 'C'
    BEGIN
        DECLARE @saldo DECIMAL(14,3);
        SELECT @saldo = ISNULL(saldo_devedor_kg, 0)
        FROM dbo.vw_SaldoClientes WHERE cliente_id = @cliente_id;

        IF (@sacas * 60 + @kg_avulso) > @saldo
            THROW 50003, 'Devolução superior ao saldo devedor do cliente.', 1;
    END

    SET @data_movimento  = ISNULL(@data_movimento, CAST(SYSDATETIME() AS DATE));
    SET @juros_pct       = CASE @tipo WHEN 'C' THEN NULL ELSE @juros_pct END;
    SET @data_vencimento = CASE @tipo WHEN 'C' THEN NULL ELSE @data_vencimento END;

    INSERT INTO dbo.Movimentos
        (cliente_id, tipo, data_movimento, sacas, kg_avulso, juros_pct, observacao, data_vencimento)
    VALUES
        (@cliente_id, @tipo, @data_movimento, @sacas, @kg_avulso, @juros_pct, @observacao, @data_vencimento);

    SELECT TOP 1
        sp.movimento_id, sp.cliente_nome, sp.tipo, sp.tipo_descricao,
        sp.data_movimento, sp.data_vencimento, sp.status_vencimento, sp.dias_vencimento,
        sp.sacas, sp.kg_avulso, sp.total_kg,
        sp.juros_pct, sp.juros_sacas, sp.juros_kg_resto,
        sp.total_kg_com_juros, sp.total_sacas_com_juros, sp.total_kg_resto,
        sp.saldo_kg_acumulado, sp.saldo_sacas_acumulado, sp.saldo_kg_resto
    FROM dbo.vw_SaldoProgressivo sp
    WHERE sp.movimento_id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPagamento_Dinheiro]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Registrar pagamento
CREATE PROCEDURE [dbo].[sp_RegistrarPagamento_Dinheiro]
    @emprestimo_id INT,
    @data          DATE          = NULL,
    @descricao     NVARCHAR(500) = NULL,
    @valor         DECIMAL(14,2)
AS
BEGIN
    SET NOCOUNT ON;
    IF @valor <= 0 THROW 50001, 'Valor deve ser maior que zero.', 1;

    DECLARE @cliente_id INT;
    SELECT @cliente_id = cliente_id FROM dbo.Emprestimos_Dinheiro WHERE id = @emprestimo_id;
    IF @cliente_id IS NULL THROW 50010, 'Empréstimo não encontrado.', 1;

    INSERT INTO dbo.Pagamentos_Dinheiro (emprestimo_id, cliente_id, data, descricao, valor)
    VALUES (@emprestimo_id, @cliente_id, ISNULL(@data, CAST(SYSDATETIME() AS DATE)), @descricao, @valor);

    -- Retorna o empréstimo atualizado
    SELECT * FROM dbo.vw_Emprestimos_Dinheiro WHERE id = @emprestimo_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RelatorioConsolidado]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RelatorioConsolidado]
    @data_inicio      DATE = NULL,
    @data_fim         DATE = NULL,
    @cliente_id       INT  = NULL,
    @apenas_devedores BIT  = 0
AS
BEGIN
    SET NOCOUNT ON;

    SET @data_inicio = ISNULL(@data_inicio, '2000-01-01');
    SET @data_fim    = ISNULL(@data_fim,    CAST(SYSDATETIME() AS DATE));

    -- Cabeçalho
    SELECT
        @data_inicio AS periodo_inicio,
        @data_fim    AS periodo_fim,
        SYSDATETIME() AS gerado_em;

    -- Pré-agrega movimentos no período em CTE para melhor performance
    ;WITH mov_periodo AS (
        SELECT
            m.cliente_id,
            SUM(CASE WHEN m.tipo = 'D'
                     THEN (m.sacas * 60 + ISNULL(m.kg_avulso, 0)) *
                          (1 + ISNULL(m.juros_pct, 0) / 100.0)
                     ELSE 0 END)  AS emprestado_kg,
            SUM(CASE WHEN m.tipo = 'C'
                     THEN (m.sacas * 60 + ISNULL(m.kg_avulso, 0))
                     ELSE 0 END)  AS devolvido_kg,
            COUNT(m.movimento_id) AS qtd_movimentos
        FROM dbo.Movimentos m
        WHERE m.data_movimento BETWEEN @data_inicio AND @data_fim
          AND (@cliente_id IS NULL OR m.cliente_id = @cliente_id)
        GROUP BY m.cliente_id
    ),
    saldo_cli AS (
        SELECT
            cliente_id,
            saldo_devedor_kg,
            saldo_devedor_sacas,
            situacao
        FROM dbo.vw_SaldoClientes
        WHERE (@cliente_id IS NULL OR cliente_id = @cliente_id)
          AND (@apenas_devedores = 0 OR saldo_devedor_kg > 0)
    )
    SELECT TOP 500
        c.cliente_id,
        c.nome,
        c.documento,
        c.telefone,
        ISNULL(mp.emprestado_kg, 0)                             AS emprestado_kg,
        ISNULL(mp.devolvido_kg,  0)                             AS devolvido_kg,
        ISNULL(mp.emprestado_kg, 0) - ISNULL(mp.devolvido_kg, 0) AS saldo_periodo_kg,
        sc.saldo_devedor_kg,
        sc.saldo_devedor_sacas,
        sc.situacao,
        ISNULL(mp.qtd_movimentos, 0)                            AS qtd_movimentos
    FROM dbo.Clientes c
    JOIN mov_periodo mp ON mp.cliente_id = c.cliente_id
    JOIN saldo_cli   sc ON sc.cliente_id = c.cliente_id
    ORDER BY sc.saldo_devedor_kg DESC;

    -- Totais
    SELECT
        SUM(CASE WHEN m.tipo = 'D'
                 THEN (m.sacas * 60 + ISNULL(m.kg_avulso, 0)) *
                      (1 + ISNULL(m.juros_pct, 0) / 100.0)
                 ELSE 0 END)          AS total_emprestado_kg,
        SUM(CASE WHEN m.tipo = 'C'
                 THEN (m.sacas * 60 + ISNULL(m.kg_avulso, 0))
                 ELSE 0 END)          AS total_devolvido_kg,
        COUNT(DISTINCT m.cliente_id)  AS total_clientes,
        COUNT(*)                      AS total_movimentos
    FROM dbo.Movimentos m
    WHERE m.data_movimento BETWEEN @data_inicio AND @data_fim
      AND (@cliente_id IS NULL OR m.cliente_id = @cliente_id);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalvarCliente]    Script Date: 26/02/2026 12:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SalvarCliente]
    @cliente_id    INT            = NULL,  -- NULL = INSERT
    @nome          NVARCHAR(150),
    @documento     VARCHAR(20)    = NULL,
    @telefone      VARCHAR(20)    = NULL,
    @email         NVARCHAR(200)  = NULL,
    @endereco      NVARCHAR(300)  = NULL,
    @ativo         BIT            = 1
AS
BEGIN
    SET NOCOUNT ON;

    IF @cliente_id IS NULL
    BEGIN
        -- INSERT
        INSERT INTO dbo.Clientes (nome, documento, telefone, email, endereco, ativo)
        VALUES (@nome, @documento, @telefone, @email, @endereco, @ativo);

        SELECT SCOPE_IDENTITY() AS cliente_id;
    END
    ELSE
    BEGIN
        -- UPDATE
        UPDATE dbo.Clientes
        SET nome          = @nome,
            documento     = @documento,
            telefone      = @telefone,
            email         = @email,
            endereco      = @endereco,
            ativo         = @ativo,
            atualizado_em = SYSDATETIME()
        WHERE cliente_id  = @cliente_id;

        SELECT @cliente_id AS cliente_id;
    END
END;
GO
USE [master]
GO
